.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Changed to start from the top */
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #000428, #004e92);
  color: white;
  overflow: hidden;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.backButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.leaderboardList {
  list-style-type: none;
  padding: 0;
  max-height: 60vh;
  overflow-y: auto;
  width: 100%;
  text-align: center;
  margin-top: 20px; /* Added margin to separate from the header */
}

.leaderboardItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 20px;
}

.userId {
  color: orange;
}

.userBalance {
  color: white;
}

.bubble {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: bubbleAnimation 10s linear infinite;
  z-index: 1;
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-1000px) scale(1.5);
  }
}